/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Center Container */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Header Styles */
h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Input File Styling */
.input-file {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Button Styling */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Preview and Prediction Containers */
.preview-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.prediction-container {
    max-width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
    margin-top: 35px;
    margin-left: 140px;
}

.prediction-container h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.prediction-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prediction-container li {
    margin: 5px 0;
    font-size: 1rem;
}

.prediction-container span {
    font-weight: bold;
}

.image-box {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: hidden; /* Ensure the image doesn't overflow the box */
    margin-right: 100px;

}

#previewImage {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Hide initially, show on upload */
}